*{
    padding: 3px;
    margin: 5px 0 ;

}
.navbar{
    height: 55px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h2{
    color: wheat;
    font-weight: bolder ;
}
ul{
    list-style-type: none;
    display: flex;

}

ul li{
    padding:  9px;
    transition: 0.5s;
}
ul li a{
    color: rgb(222, 222, 240);
    text-decoration: none;

}
ul li:hover{
    background-color: burlywood;
    color:black;
    border-radius: 6px;

}